@import "https://fonts.googleapis.com/icon?family=Material+Icons";

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #DBDAD8;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.box {
  position: relative;
}

.block_ol-1 {
  position: absolute;
  left: -55px;
  top: 802px;
}

.block_ol-2 {
  position: absolute;
  left: -55px;
  top: 756px;
}

.block_ol-3 {
  position: absolute;
  left: -33px;
  top: 734px;
  z-index: -1;
}

.block_ol-4 {
  position: absolute;
  left: -120px;
  top: 469.61px;
}

.block_ol-5 {
  position: absolute;
  left: -100px;
  top: 570px;
  z-index: 2;
}

.block_ol-6 {
  position: absolute;
  left: -139px;
  top: 388.5px;
  z-index: 2;
}

.block_ol-7 {
  position: absolute;
  left: -139px;
  top: 343px;
}

.block_ol-8 {
  position: absolute;
  width: 446px;
  height: 126.2px;
  left: -96.1px;
  top: 410px;
  background: #A92A1C;
  transform: rotate(-30deg);
  z-index: 1;
}

.block_ol-9 {
  position: absolute;
  left: 12px;
  top: 334px;
  z-index: 1;
}

.block_ol-10 {
  position: absolute;
  left: 1px;
  top: 384px;
  z-index: 1;
}

.block_ol-11 {
  position: absolute;
  left: 58px;
  top: 463px;
  z-index: 0;
}

.block_ol-12 {
  position: absolute;
  left: -242.23px;
  top: 533px;
  z-index: 1;
}

.block_ol-13 {
  position: absolute;
  left: 285px;
  top: 313px;
  z-index: 0;
}

.block_ol-14 {
  position: absolute;
  left: 268px;
  top: 313px;
  z-index: 0;
}

.block_ol-15 {
  position: absolute;
  left: 253px;
  top: 313px;
  z-index: -1;
}

.block_ol-16 {
  position: absolute;
  width: 225px;
  height: 225px;
  border-radius: 100%;
  left: 300px;
  top: 313px;
  background: #F5D84B;
  z-index: -1;
}

.block_ol-17 {
  position: absolute;
  left: 268.48px;
  top: 456px;
  z-index: 1;
}

.block_ol-18 {
  position: absolute;
  left: 413px;
  top: 313px;
  z-index: 1;
}

.block_ol-19 {
  position: absolute;
  left: 416.42px;
  top: 399.62px;
  z-index: 1;
}

.block_ol-20 {
  position: absolute;
  width: 165.86px;
  height: 60px;
  left: 430px;
  top: 480px;
  background: #AB2F20;
  transform: rotate(35deg);
  z-index: -1;
}

.block_ol-21 {
  position: absolute;
  width: 76px;
  height: 76px;
  border-radius: 100%;
  left: 481px;
  top: 399px;
  background: #2B2121;
  z-index: 1;
}

.block_ol-22 {
  position: absolute;
  left: 465px;
  top: 318px;
  z-index: 0;
}

.block_ol-23 {
  position: absolute;
  width: 38px;
  height: 197px;
  left: 505px;
  top: 401px;
  background: #C37429;
  z-index: -2;
}

.block_ol-24 {
  position: absolute;
  left: 468px;
  top: 392px;
  z-index: 0;
}

.block_ol-25 {
  position: absolute;
  left: 510px;
  top: 384px;
  z-index: -2;
}

.block_ol-26 {
  width: 100px;
  height: 100px;
  background: #F5D854;
  border-radius: 100%;
  position: absolute;
  left: 567px;
  top: 351px;
  z-index: -1;
}

.block_ol-27 {
  position: absolute;
  width: 30px;
  height: 120px;
  left: 636px;
  top: 401px;

  background: #E99D3D;
  z-index: -2;
}

.block_ol-28 {
  position: absolute;
  left: 633.73px;
  top: 399.25px;
  z-index: -2;
}

.block_ol-29 {
  width: 40px;
  height: 40px;
  background: #C15340;
  border-radius: 100%;
  position: absolute;
  left: 765px;
  top: 472px;
  z-index: 0;
}

.block_ol-30 {
  position: absolute;
  left: 469.08px;
  top: 458px;
  z-index: -2;
}

.block_ol-31 {
  position: absolute;
  left: 1466px;
  top: 0px;
  z-index: -4;
}

.block_ol-32 {
  position: absolute;
  left: 1258px;
  top: 438px;
  z-index: -2;
}

.block_ol-33 {
  position: absolute;
  left: 1277px;
  top: 347px;
  z-index: 0;
}

.block_ol-34 {
  position: absolute;
  left: 1247px;
  top: 276px;
  z-index: -3;
}

.block_ol-35 {
  position: absolute;
  left: 1299.89px;
  top: 250px;
  z-index: -1;
}

.block_ol-36 {
  position: absolute;
  width: 450px;
  height: 30px;
  left: 1200px;
  top: 350px;
  background: #202062;
  transform: rotate(-15deg);
  z-index: -1;
}

.block_ol-37 {
  position: absolute;
  width: 150px;
  height: 150px;
  left: 1213px;
  top: 370px;
  background: #B74D2B;
  border-radius: 100%;
  z-index: -1;
}

.block_ol-38 {
  position: absolute;
  left: 1174px;
  top: 260px;
  z-index: -3;
}

.block_ol-39 {
  position: absolute;
  left: 1107px;
  top: 200px;
  z-index: -4;
}

.block_ol-40 {
  position: absolute;
  left: 1102px;
  top: 384px;
  z-index: 0;
}

.block_ol-41 {
  position: absolute;
  left: 1030px;
  top: 438px;
  z-index: 0;
}

.block_ol-42 {
  position: absolute;
  left: 910px;
  top: 460px;
  z-index: -1;
}

.block_ol-43 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 880px;
  top: 492px;
  background: #C15340;
  border-radius: 100%;
  z-index: 0;
}

.block_ol-44 {
  position: absolute;
  left: 960px;
  top: 475px;
  z-index: -2;
}

.block_ol-45 {
  position: absolute;
  left: 1077px;
  top: 490px;
  z-index: 0;
}

.block_ol-46 {
  position: absolute;
  left: 1050px;
  top: 478px;
  z-index: -2;
}

.block_ol-47 {
  position: absolute;
  left: 1045px;
  top: 516.81px;
  z-index: -3;
}

.block_ol-48 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 1030px;
  top: 584.04px;
  background: #AB2F20;
  border-radius: 100%;
  z-index: 0;
}

.block_ol-49 {
  position: absolute;
  left: 1215px;
  top: 484px;
  z-index: 0;
}

.block_ol-50 {
  position: absolute;
  left: 1140px;
  top: 440px;
  z-index: 1;
}

.block_ol-51 {
  position: absolute;
  left: 1090px;
  top: 560px;
  z-index: 1;
}

.block_ol-52 {
  position: absolute;
  left: 1100px;
  top: 465px;
  z-index: -1;
}

.block_ol-53 {
  position: absolute;
  left: 1100px;
  top: 587px;
  z-index: 0;
}

.block_ol-54 {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 1100px;
  top: 635px;
  background: #3E735E;
  border-radius: 100%;
  z-index: 0;
}

.block_ol-55 {
  position: absolute;
  left: 1157px;
  top: 512px;
  z-index: -1;
}

.block_ol-56 {
  position: absolute;
  left: 1167px;
  top: 514px;
  z-index: -1;
}

.block_ol-57 {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 1165px;
  top: 596px;
  background: #E49B4A;
  border-radius: 100%;
  z-index: 0;
}
